<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> HOME/FEED </h1>
    <br>
    <p> post 1 </p>


    <form action="" method="post" role="form">
        { { form.csrf }}
    <div class="form-group">
          <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">

    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">

    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">

    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
    </form>{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
                    <strong>Success! </strong> { { message[1] }}</div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
                    { { message[1] }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}


    {% endblock %}
  </body>
</html>
