<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Account</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Account Settings </h1>
    <p> Login/Logout options </p>
    <p> Login/ logout form present here</p>

    {% endblock %}
  </body>
</html>
