<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>HOME TEMPLATE</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
-->
 </head>
 <body>
    <header>
      <div class="container-fluid">
        <h1 class="logo">STAY CONNECTED</h1>
        <strong><nav>
          <div class="row p-2 mb-2 bg-primary text-white">
            <div class="col-sm-auto col-md-auto col-xs-4">
            <a href="{{ url_for('home') }}" class="p-2 mb-2 bg-primary text-white">Home</a>
            </div>
            <div class="col-sm-auto col-md-auto col-xs-4">
              <a class="p-2 mb-2 bg-primary text-white"> New post </a>
            </div>
            <div class="col-sm-auto col-md-auto col-xs-4">
            <a href="{{ url_for('login') }}" class="p-2 mb-2 bg-primary text-white">Account Settings</a>
            </div>
          </div>
        </nav></strong>

      </div>
    </header>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 </body>
</html>
